:root {
    /* --c1 : #9c6c81; */
    --c1:#1b1919;
}

html,body, body * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:inherit;
    background-color:inherit;
    color: #333;
 }

 body {
    background-size:  cover;
    background-position:center center;
    background: url("../img/imageedit_4_2094188263.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    direction: rtl;

    
    
  }
  body::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .6;
    content: "";
    z-index: -1;

  }

  .container {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 100px;
  }


  .login-register-wrapper {
      height: 560px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      padding:0 2em;
      border-radius: 5px;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
      overflow: hidden;  
      /* background-color: #eee; */
      backdrop-filter: blur( 12px );    
      -webkit-backdrop-filter: blur( 12px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 ); 
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  }
  
  /* Nav buttons */
  .nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 3em;
    text-align: center;
  }
  button {
      font-size: 1.5em;
      margin-right:1em;
      border:0px;
      cursor: pointer;
   
  }
  button:focus {
      outline: 0px;
  }
  button.active {
      padding-bottom: 10px;
      border-bottom: solid 2px #23273f;
  } 
  
   /* footer: forgot section */
   .forgot-panel {
    position: relative;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    border-top: solid 1px rgba(255,255,255,.3);    
}

    /* form styling */
    .form-group input {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(255,255,255,.5);
    }
    .form-group label {
      text-transform: capitalize;
      text-shadow: .45px .25px #333;
      ;

      
      
    }
    input.submit {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 1em;
        text-align: center;
        color: #eee;
        padding: 8px 0px;
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 5px;
        margin-top: 23px;
        background-color: var(--c1);
        cursor: pointer;
    
    }

    form#registerform {
        left:500px;
        top:-230px;
        position:relative;
    }

    .forgot-panel {
        margin-top:-300px;
        color:#eee;
    }

    form, .forgot-panel { 
        position: relative;
        transition: all .5s ease;
    }
    #loginBtn, #registerBtn {
        transition: all .5s ease;
        text-transform: uppercase;
        font-weight: bolder;
        color:  var(--c1);
        text-shadow: .34px .67px #333;


    }

    .forgot-panel a{
        color:  var(--c1);
        cursor: pointer;
        text-shadow: .34px .67px #333;
    }

    #loginform label, #registerform label {
        color: var(--c1);
    }
    

    